<h1 class="lg-heading">About <span class="text-secondary">Me</span></h1>
<h2 class="sm-heading">Let me tell you few things ...</h2>
<div class="about-info">
  <img
    src="../../../assets/img/IMG_1727.jpg"
    alt="Ravi Patel"
    class="bio-image"
  />
  <div class="bio">
    <h3 class="text-secondary">BIO</h3>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio repellendus
      vitae libero maxime perspiciatis voluptatem id. Adipisci commodi
      voluptates non nostrum, corrupti voluptas aliquid provident quia alias
      blanditiis ipsa natus!
    </p>
  </div>
  <div class="job job-1">
    <h3>JOB 1</h3>
    <h6>Front End Developer</h6>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita quasi
      quidem sapiente molestias beatae quo odio totam. Ut, provident saepe.
    </p>
  </div>
  <div class="job job-2">
    <h3>JOB 2</h3>
    <h6>Front End Developer</h6>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita quasi
      quidem sapiente molestias beatae quo odio totam. Ut, provident saepe.
    </p>
  </div>
  <div class="job job-3">
    <h3>JOB 3</h3>
    <h6>Front End Developer</h6>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita quasi
      quidem sapiente molestias beatae quo odio totam. Ut, provident saepe.
    </p>
  </div>
</div>
