<h1 class="lg-heading">My <span class="text-secondary">Work</span></h1>
<h2 class="sm-heading">Check out some of my projects...</h2>
<div class="projects">
  <div class="item">
    <a href="#!">
      <img src="../../../assets/img/project1.png" alt="Project1" />
    </a>
    <a href="#" class="btn-light"> <i class="fa fa-eye"></i> Project </a>
    <a href="#" class="btn-dark"> <i class="fa fa-github"></i> Github </a>
  </div>

  <div class="item">
    <a href="#!">
      <img src="../../../assets/img/project2.png" alt="Project2" />
    </a>
    <a href="#" class="btn-light"> <i class="fa fa-eye"></i> Project </a>
    <a href="#" class="btn-dark"> <i class="fa fa-github"></i> Github </a>
  </div>

  <div class="item">
    <a href="#!">
      <img src="../../../assets/img/project3.png" alt="Project3" />
    </a>
    <a href="#" class="btn-light"> <i class="fa fa-eye"></i> Project </a>
    <a href="#" class="btn-dark"> <i class="fa fa-github"></i> Github </a>
  </div>

  <div class="item">
    <a href="#!">
      <img src="../../../assets/img/project4.jpeg" alt="Project4" />
    </a>
    <a href="#" class="btn-light"> <i class="fa fa-eye"></i> Project </a>
    <a href="#" class="btn-dark"> <i class="fa fa-github"></i> Github </a>
  </div>
</div>
