<div>
  <h1 class="lg-heading">Ravi <span class="text-secondary">Patel</span></h1>
  <h2 class="sm-heading">Web Developer & Desinger</h2>
  <div id="icons">
    <a href="#">
      <i class="fa fa-linkedin fa-2x" aria-hidden="true"> </i>
    </a>
    <a href="#">
      <i class="fa fa-github fa-2x" aria-hidden="true"></i>
    </a>
    <a href="#">
      <i class="fa fa-facebook fa-2x" aria-hidden="true"></i>
    </a>
    <a href="#">
      <i class="fa fa-instagram fa-2x" aria-hidden="true"></i>
    </a>
  </div>
</div>
